body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #212121;


}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.App {
    text-align: center;
}

.App-logo {
    height: 30vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.App-header {
    background-color: #212121;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;

}

.App-link {
    color: #61dafb;
}


.civStyle {
    padding: 0 100px 100px;
    margin-top: 0;
    font-size: calc(10px + 1vmin);
    text-align: center;
    max-width: 500px;
}

.civStyle h2 {
    text-align: left;
    font-size: calc(14px + 1vmin);

}

.civStyle h3 {
    text-align: left;
    font-size: calc(10px + 1vmin);

}

.civStyle h1 {
    text-align: center;
    font-size: calc(14px + 1vmin);
}

.civStyle p {
    text-align: left;
    font-size: calc(6px + 1vmin);

}

.civStyle img {
    width: 2500px;
    height: auto;
    padding: 25px;
}

.civStyle ul {
    list-style: square;
    text-align: left;
    margin-left: -10px;
}

.civStyle ul li {
    font-size: calc(6px + 1vmin);

}



video {
    z-index: -1;
    min-height: 100%;
    position: absolute;
    overflow: hidden !important;
    /*object-fit: fill;*/
}



.civStyle .MuiTypography-colorPrimary {
    color: mediumpurple !important;
    font-size: calc(7px + 1vmin);
}

.MuiInputBase-input {
    color: white !important;
    font-size: calc(8px + 1vmin) !important;
    border-bottom: 1px solid white !important;
}

.MuiTypography-colorPrimary {
    color: purple !important;
    font-size: calc(7px + 1vmin);
}


.title {
    margin: 20px auto 0;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.component {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    overflow: hidden !important;
    align-content: center;
}
